/* Last Resort Theme CSS */

img#banner-img {
    max-height: 100%;
}


div#banner {
    margin: 0 auto;
}

div#links-bar {
    margin-bottom: 0;
    align-items: center;
}

div#navigation-bar {
    align-items: center;
    grid-area: 2/1;
    height: 100%;
    margin: unset;
    white-space: nowrap;
}

div#left-nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

div#right-nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

div#blurb {
    width: unset;
    word-break: break-word;
}

img#comic-image {
    max-width: 100%;
}

@media (max-width: 1000px) {
    #left-nav-buttons #first-button {
        align-self: flex-end;
    }

    #right-nav-buttons #next-button {
        align-self: flex-start;
    }
}

div#container {
    grid-template-columns: 100%;
    grid-template-rows: unset;
}

div#comic-page {
    grid-row: 1 / 4;
}

div#blurb {
    display: block;
}

#socials {
    font-size: 1.5em;
    padding-top: 1em;
}

#socials a {
    text-decoration: none;
}

#socials ul {
    list-style: none;
}

#content {
    margin: 0 auto;
}

div#comic-container > #container {
    padding: 0;
}

div#blurb {
    margin-bottom: 0;
}

@media (max-width: 535px) {
    div#container {
        width: 100%;
    }

    div#links-bar {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (min-width: 536px) {
    div#links-bar {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 869px) and (max-width: 2000px) {
    div#blurb {
        display: inline-block;
        margin-bottom: 20px;
    }

    div#container {
        max-width: unset;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 10% 10% 80%;
        grid-gap: 1em;
    }

    div#comic-container > #container {
        grid-template-columns: 25% 75%;
        padding: 30px;
    }
}